<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPX6xESGHrQW3QA90datLq5h1MIxmIjbE</string>
	<key>GCM_SENDER_ID</key>
	<string>983808048350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nishitvats.E-Commerce-App</string>
	<key>PROJECT_ID</key>
	<string>snacky-24157</string>
	<key>STORAGE_BUCKET</key>
	<string>snacky-24157.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983808048350:ios:87c3f6df7177823daa564f</string>
</dict>
</plist>